* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.empty {
  display: none;
}
/* ====================================================== */

.header__topbar {
  background: #FFFFFF;
  padding: 19px 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar__logo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background: #5E81FE;
  margin-right: 73px;
}
.topbar__menuLink {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #5E81FE;
  text-shadow: 0px 0px 5px #E6E6E6;
  margin-right: 42px;
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: .5s;
}
.topbar__menuLink:hover {
  border: 1px solid #5E81FE;
}
.topbar__social {
  display: flex;
  align-items: center;
}
.socialLink {
  margin-right: 40px;
}
.topbar__button {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #3A79FF;
  padding: 13px 20px;
  background: #D2E1FF;
  border-radius: 2px;
  border: none;
  outline: none;
}


/* ==================================================== */

.header__main {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/header_bg.svg);
  background-size: cover;
  background-position: center center;
}
.header__main-slogan {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  margin-bottom: 20px;
}
.header__main-title {
  max-width: 583px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 28px;
}
.header__main-title span {
  font-weight: 500;
}
.header__main-description {
  max-width: 500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin-bottom: 20px;
}
.header__main-buttonPlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  border-radius: 50%;
  cursor: pointer;
}

/* ======================================================== */

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
}
.brand__item {
  margin-right: 50px;
}
.brand__item svg {
  transition: .5s;
  fill: #D6DAE5;
}
.brand__item:hover svg {
  fill: #5982E7;
}
.brand__pic {
  height: 30px;
  width: 100%;
}

/* ============================================================== */

.planAndManage {
  padding-top: 170px;
  padding-bottom: 170px;
  background: #F5F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planAndManage__left {
  width: 35%;
}
.planAndManage__slogan {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  margin-bottom: 27px;
}
.planAndManage__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #3D4F9F;
  margin-bottom: 27px;
}
.planAndManage__title span {
  font-weight: 500;
}
.planAndManage__description {
  max-width: 413px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin-bottom: 47px;
}
.planAndManage__pic {
  max-width: 653px;
  filter: drop-shadow(0 0 0.75rem rgb(204, 204, 204));
}
.planAndManage__button {
  padding: 13px 40px;
  border-radius: 2px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  margin-right: 1px;
  outline: none;
  cursor: pointer;
}
.button_blue {
  color: #FFFFFF;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border: none;
}
.button_transparent {
  border: 1px solid #D1D1E4;
  border-radius: 2px;
  color: #ADB4D2;
  background-color: transparent;
}

/* ============================================================== */

.aboutApp {
  padding-top: 170px;
  padding-bottom: 170px;
  background-color: #fff;
}
.aboutApp__content {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../img/clouds_bg.svg);
  background-size: cover;
  background-position: center center;
}
.aboutApp__slogan {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 20px;
}
.aboutApp__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 92px;
}
.aboutApp__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutApp__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  padding-bottom: 30px;
}
.item__picCont {
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: #F1F5FF;
  margin-bottom: 33px;
}
.item__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #4074F8;
  margin-bottom: 25px;
}
.item__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  color: #ADB3CB;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 92px;
}
.aboutApp__buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.aboutApp__button {

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  padding: 13px 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button_coral {
  /* display: inline-block; */
  color: #D43F3F;
  background: #FFD7D7;
  margin-right: 47px;
}
.button__between::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  border: 1px solid #DAE4FE;
  left: -68px; top: 9px;
  transform: translateX(40px);
}
.button__between::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  border: 1px solid #DAE4FE;
  left: -13px; top: 7px;
  transform: translateX(40px);
}
.button_lightblue {
  background: #D2E1FF;
  color: #3A79FF;
}
.button__between {
  width: 16px;
  height: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #ADB3CB;
  position: relative;
  margin-right: 47px;
}

/* ======================================================== */

.productivity {
  width: 100%;
  height: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productivity__left {
  background: linear-gradient(208.93deg, #6888FF 12.77%, #5E80FF 73.11%);
  /* text-align: right; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  padding: 66px 90px 66px 370px;
}
.percentometr {
  text-align: right;
  margin-bottom: 24px;
}
.percent {
  display: inline-block;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.productivity__description-left {
  max-width: 260px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.productivity__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  padding: 66px 0 66px 90px;
  background: linear-gradient(130.53deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}
.people {
  text-align: left;
  margin-bottom: 24px;
}
.number {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.03em;
  color: #5E80FF;
  margin-bottom: 30px;
}
.productivity__description-right {
  max-width: 260px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #5E80FF;
}

/* ======================================================== */

.ourResources {
  padding-top: 104px;
  padding-bottom: 104px;
  background: #F5F8FF;
  overflow-x: hidden;
}
.ourResources__top {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 20px;
}
.ourResources__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 92px;
}
.ourResources__content {
  display: flex;
  padding: 62px 35px;
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-shadow: 0px 15px 50px #EFF4FF;

  max-width: 958px;
  height: 394px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
.ourResources__content-left {
  flex-shrink: 0;
  width: 50%;
  display: grid;
  /* height: 100%; */
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 13px;
  margin-right: 67px;
}
.ourResources__pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ourResources__item {
  min-height: 0;
  min-width: 0;
}
.ourResources__item_first {
  grid-row: span 2;
}
.content__right-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #3D4F9F;
  margin-bottom: 32px;
}
.content__right-description {
  max-width: 408px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin-bottom: 31px;
}
.content__right-button {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  padding: 13px 16px;
  color: #3A79FF;
  margin-right: 8px;
  background: #D2E1FF;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}
.content__right-link {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #A6B6DA;
  padding: 13px 16px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: .5s;
}
.content__right-link:hover {
  border: 1px solid #A6B6DA;
}
.ourResources__slider {
  position: relative;
}


.arrow__pic {
  height: 15px;
  width: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.arrow__pic-left {
  left: 140px;
}
.arrow__pic-right {
  right: 140px;
}
.pagination__control {
  text-align: center;
  padding-top: 100px;
}
.swiper-pagination-bullet {
  margin-right: 12px;
  outline: none;
}

/* ========================================================== */

.testimonials {
  padding-top: 109px;
  padding-bottom: 108px;
  padding-left: 220px;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* overflow-x: hidden; */
}
.testimonials__leftSide {
  width: 40%;
  margin-left: 100px;
  flex-shrink: 0;
}
.testimonials__toptext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  margin-bottom: 31px;
}
.testimonials__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #3D4F9F;
  margin-bottom: 15px;
}
.testimonials__description {
  max-width: 333px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #A4ABC8;
}
.testimonials__slider {
  overflow-x: hidden;
  position: relative;
}
.testimonial__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__content {
  /* width: 423px; */
  flex-shrink: 0;
  padding: 41px 69px;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #676F95;
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-shadow: 0px 5px 50px #F3F5FA;
}
.testimonials__avatar {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 100%; left: 50%;
  transform: translate(-50%, -50%);
}
.testimonial__pagination {
  padding-top: 80px;
  padding-left: 150px;
  /* position: absolute;
  top: 100%; left: 100%;
  transform: translateY(-50%); */
}
.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.3;
}

/* ========================================================= */

.FaQ {
  margin: 0 auto;
  padding-top: 176px;
  padding-bottom: 174px;
  background: #FFFFFF;
}
.FaQ__topText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 20px;
}
.FaQ__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 68px;
}
.FaQ__content {
  max-width: 743px;
  margin: 0 auto;
}
.FaQ__label {
  border-bottom: 1px solid #D8E3FE;
  display: block;
  padding: 25px;
  position: relative;
  cursor: pointer;
}
.FaQ__question {
  display: block;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #8E96B7;
  position: relative;
}
.FaQ__answerText {
  max-width: 391px;
  margin-right: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}
.FaQ__answerLink {
  height: 43px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #7382A3;
  padding: 13px 15px;
  background: #E8ECF4;
  border-radius: 2px;
  outline: none;
}
.FaQ__input {
  display: none;
}
.FaQ__answerContent {
  display: flex;
  display: none;
  padding: 30px;
}
.FaQ__input:checked + .FaQ__question + .FaQ__answerContent {
  display: flex;
}
.FaQ__input:checked + .FaQ__question {
   color :rgb(83, 83, 83);
}

.FaQ__question img {
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  transition: .2s;
}
.FaQ__input:checked + .FaQ__question img {
  transform: translateY(-50%) rotate(180deg);
}
